.distance{
    position: absolute;
    right: 60px;
    top: 10px;
    z-index: 5;
    background-color: #FFFFFF;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bolder;
}
input[type=number]{
     width: 2rem;
}